.card {
  box-shadow: -2px -2px 36px 12px rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: -2px -2px 36px 12px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: -2px -2px 36px 12px rgba(0, 0, 0, 0.06);
  min-height: 542px;
}
